<a href="/wines">
  <i class="fas fa-chevron-circle-left"></i>
  Back
</a>

<h1>
  Add a New Wine
</h1>

<hr>

<%= render("wine_templates/validation_failures.html.erb") %>

<form action="/insert_wine_record" method="post">
  <div>
    <label for="name">
      Name:
    </label>

    <input type="text" id="name" name="name" value="<%= @wine.name %>">
  </div>
  
  <div>
    <label for="varietal_dropdown">
      Varietal:
    </label>
  
      <select id="varietal_dropdown" name="varietal" value="<%= @wine.varietal %>">
        <% Varietal.all.order({ :grape => :asc }).each do |a_grape| %>
          <option value="<%= a_grape.grape %>">
          <%= a_grape.grape %>
          </option>
        <% end %>
      </select>
    </label>
  </div>

  <div>
    <label for="price">
      Price:
    </label>

    <input type="text" id="price" name="price" value="$<%= @wine.price %>">
  </div>

  <div>
    <label for="location_of_origin">
      Location:
    </label>

    <input type="text" id="location_of_origin" name="location_of_origin" value="<%= @wine.location_of_origin %>">
  </div>

  <div>
    <label for="year_of_origin">
      Vintage:
    </label>

    <input type="number" maxlength=4 id="year_of_origin" name="year_of_origin" value="<%= @wine.year_of_origin %>">
  </div>

  <div>
    <label for="image">
      Image Link:
    </label>

    <input type="url" id="image" name="image" value="<%= @wine.image %>">
  </div>

  <br>
  <button class="btn btn-secondary">
    Create Wine
  </button>
</form>

