
<a href="/wines">
  <i class="fas fa-chevron-circle-left"></i>
</a>

<h1>
  <%= @wine.name %> Profile
</h1>

  <div>
    <a href="/existing_wine_form/<%= @wine.id %>">
      Edit Wine
    </a>
  </div>

  <div>
    <a href="/delete_wine/<%= @wine.id %>">
      Delete Wine
    </a>
  </div>
</div>

<table>
  <tr>
    <td rowspan="7"><img src="<%= @wine.image %>"></td>
    <td>Name:</td>
    <td><%= @wine.name %></td>
  </tr>
  <tr>
    <td>Varietal:</td>
    <td><%= @wine.varietal %></td>
  </tr>
  
  <tr>
    <td>Price:</td>
    <td><%= @wine.price %></td>
  </tr>
  
  <tr>
    <td>Location:</td>
    <td><%= @wine.location_of_origin %></td>
  </tr>
  
  <tr>
    <td>Vintage:</td>
    <td><%= @wine.year_of_origin %></td>
  </tr>
  
  <tr>
    <td>WineWise Global Rating:</td>
    <td><%= @global_wine_rating.sum.fdiv(@global_wine_rating.size) %></td>
  </tr>
  
  <tr>
    <td>Your Rating:</td>
    <td><%= @my_wine_rating %></td>
  </tr>
  
</table>

<h1>Reviews</h1>

<table>
  <tr>
    <th>Reviewer</th>
    <th>Comment</th>
    <th>Rating</th>
  </tr>

  <% @wine.reviews.order({ :created_at => :asc }).each do |rating| %>
  <tr>
    <td>
      <%= rating.user_id %>
    </td>

    <td>
      <%= rating.comment %>
    </td>

    <td>
      <%= rating.score %>
    </td>

    <td>
      <%= time_ago_in_words(rating.created_at) %> ago
    </td>
  </tr>
  <% end %>
</table>


<dl>
  <dt>
    Created
  </dt>
  <dd>
    <%= time_ago_in_words(@wine.created_at) %> ago
  </dd>

  <dt>
    Last Updated
  </dt>
  <dd>
    <%= time_ago_in_words(@wine.updated_at) %> ago
  </dd>
</dl>

