<a href="/wines">
  <i class="fas fa-chevron-circle-left"></i>
  Back
</a>

<h1>
  <%= @wine.name %> <%= @wine.varietal %>
</h1>

<table>
  <tr>
    <td rowspan="7"><img src="<%= @wine.image %>"></td>
    <td>Name:</td>
    <td><%= @wine.name %></td>
  </tr>
  <tr>
    <td>Varietal:</td>
    <td><%= @wine.varietal %></td>
  </tr>
  
  <tr>
    <td>Price:</td>
    <td><%= @wine.price %></td>
  </tr>
  
  <tr>
    <td>Location:</td>
    <td><%= @wine.location_of_origin %></td>
  </tr>
  
  <tr>
    <td>Vintage:</td>
    <td><%= @wine.year_of_origin %></td>
  </tr>
  
  <tr>
    <td>WineWise Global Rating:</td>
    <td><%= @global_wine_rating.sum.fdiv(@global_wine_rating.size) %></td>
  </tr>
  
  <tr>
    <td>Your Rating:</td>
    <td><%= @my_wine_rating %></td>
  </tr>
  
</table>

<div>
  <a href="/existing_wine_form/<%= @wine.id %>">
     Edit Wine
  </a>
</div>

<div>
  <a href="/delete_wine/<%= @wine.id %>">
    Delete Wine
  </a>
</div>

<hr>

<h1>Reviews</h1>

<table>
  <tr>
    <th>Reviewer</th>
    <th>Comment</th>
    <th>Rating</th>
  </tr>

  <% @wine.reviews.order({ :created_at => :asc }).each do |rating| %>
  <tr>
    <td>
      <%= rating.user_id %>
    </td>

    <td>
      <%= rating.comment %>
    </td>

    <td>
      <%= rating.score %>
    </td>

    <td>
      <%= time_ago_in_words(rating.created_at) %> ago
    </td>
  </tr>
  <% end %>
</table>

<button><a href="/new_rating_form">Rate this Wine</a></button>
  
<h3>Review this Wine</h3>
<form action="/create_comment_record/<%= @wine.id %>">
  <input type="hidden" value="<%= @wine.id %>" name="wine_id">

  <label for="reviewer_dropdown">Reviewer</label>
  <select id="reviewer_dropdown" name="reviewer_id" >
    <% User.all.order({ :email => :asc }).each do |a_user| %>
        <option value="<%= a_user.id %>">
        <%= a_user.email %>
        </option>
    <% end %>
    </select>

  <div>
    <label for="score">Review</label>
    <input type="number" name="score" placeholder="Select a score...">
  </div>
  
  <div>
    <label for="review_box">Review</label>
  <textarea id="review_box" name="review_text" placeholder="Write a review..."></textarea>
  </div>

  <button>Post Review</button>
</form>
  
<hr>

<dl>
  <dt>
    Created
  </dt>
  <dd>
    <%= time_ago_in_words(@wine.created_at) %> ago
  </dd>


  <dt>
    Last Updated
  </dt>
  <dd>
    <%= time_ago_in_words(@wine.updated_at) %> ago
  </dd>
</dl>