<h1>
  Edit <%= @wine.name %>'s Profile
</h1>

<hr>

<%= render("wine_templates/validation_failures.html.erb") %>

<form action="/update_wine_record/<%= @wine.id %>" method="post">
  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @wine.name %>">
  </div>

  <div>
    <label for="varietal">Varietal</label>
      <select id="varietal" name="varietal" >
        <% Varietal.all.order({ :grape => :asc }).each do |a_grape| %>
          <option value="<%= @wine.varietal %>">
          <%= a_grape.grape %>
          </option>
        <% end %>
      </select>
    </label>
  </div>


  <div>
    <label for="price">
      Price
    </label>

    <input type="text" id="price" name="price" value="$<%= @wine.price %>">
  </div>

  <div>
    <label for="location_of_origin">
      Location of origin
    </label>

    <input type="text" id="location_of_origin" name="location_of_origin" value="<%= @wine.location_of_origin %>">
  </div>

  <div>
    <label for="year_of_origin">
      Year of origin
    </label>

    <input type="text" id="year_of_origin" name="year_of_origin" value="<%= @wine.year_of_origin %>">
  </div>

  <div>
    <label for="image">
      Image Link
    </label>

    <input type="text" id="image" name="image" value="<%= @wine.image %>">
  </div>

  <button>
    Update wine
  </button>
</form>

<hr>

<a href="/wines">
  Go back
</a>
