<h1>
  Varietal list
</h1>

<a href="/new_varietal_form">
  Add a new varietal
</a>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Grape
    </th>

    <th>
      Wine
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @varietals.each do |varietal| %>
  <tr>
    <td>
      <%= varietal.id %>
    </td>

    <td>
      <%= varietal.grape %>
    </td>

    <td>
      <%= varietal.wine_id %>
    </td>

    <td>
      <%= time_ago_in_words(varietal.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(varietal.updated_at) %> ago
    </td>

    <td>
      <a href="/varietals/<%= varietal.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
