<h1>
  Edit rating #<%= @rating.id %>
</h1>

<hr>

<%= render("rating_templates/validation_failures.html.erb") %>

<form action="/update_rating_record/<%= @rating.id %>" method="post">
  <div>
    <label for="wine_id">
      Wine
    </label>

    <input type="text" id="wine_id" name="wine_id" value="<%= @rating.wine_id %>">
  </div>

  <div>
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" value="<%= @rating.user_id %>">
  </div>

  <div>
    <label for="score">
      Score
    </label>

    <input type="text" id="score" name="score" value="<%= @rating.score %>">
  </div>

  <div>
    <label for="comment">
      Comment
    </label>

    <textarea id="comment" name="comment" rows="3"><%= @rating.comment %></textarea>
  </div>

  <button>
    Update rating
  </button>
</form>

<hr>

<a href="/ratings">
  Go back
</a>
