<h1>
  Add a New Favorite
</h1>

<h3>Favorite a wine from our database:</h3>

<form action="/insert_favorite_record" method="post">
  <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">

  <label for="wine_dropdown">Select a wine from the dropdown:</label>
  <br>
  <select id="wine_dropdown" name="wine_id" value="<%= @favorite.wine_id %>">
    <% Wine.all.order({ :name => :asc }).each do |a_wine| %>
        <option value="<%= a_wine.id %>">
        <%= a_wine.name %> <%= a_wine.varietal %>
        </option>
    <% end %>
    </select>

  <button class="btn btn-primary">Add to My Wine List</button>
</form>

<br>
<h3>Don't see your wine listed here?</h3>


<a href="/new_wine_form">
  <button class="btn btn-primary">
  Add a New Wine
  </button>
</a>

<%= render("favorite_templates/validation_failures.html.erb") %>

<hr>

<a href="/favorites">
  Go back
</a>
