<h1>
  My Wine List
  <a href="/new_favorite_form" class="btn btn-primary">
  + Add a New Favorite
  </a>
  
</h1>

<hr>

<table cellpadding="8">
  <tr>

    <th></th>
    <th>Name</th>
    <th>Varietal</th>
    <th>Location</th>
    <th>Vintage</th>
    <th bgcolor="e9ecef" style="text-align:center"><i class="fas fa-user-circle"></i><br>My Rating</th>
    <th style="text-align:center"><i class="fas fa-globe-americas"></i><br>Global Rating</th>
    <th style="text-align:center"><i class="fas fa-users"></i><br>Clinks Rating</th>
    <th style="text-align:center">Rated By</th>
    <th></th>
  </tr>

  <% @fave_wines.each_with_index do |wine, index| %>
  <tr>
    <td>
      <i class="fas fa-heart" ></i>
    </td>

    <td>
      <a href="/wines/<%= wine.id %>">
        <%= wine.name %>
      </a>
    </td>

    <td>
      <%= wine.varietal %>
    </td>

    <td>
      <%= wine.location_of_origin %>
    </td>

    <td>
      <%= wine.year_of_origin %>
    </td>
    
    <td bgcolor="e9ecef" style="text-align:center">
      <% my_wine_reviews = current_user.reviews.where({ :wine_id => wine.id }).pluck(:score) %>
      <% unless my_wine_reviews.empty? %>
        <%= (my_wine_reviews.sum)/(my_wine_reviews.count).round(2) %>
      <% end %>
    </td>

    <td style="text-align:center">
      <% global_review_scores = wine.reviews.pluck(:score) %>
      <%= (global_review_scores.sum/global_review_scores.count).round(2) %>
      
    </td>
    
    <td style="text-align:center">
      <% my_clinks_review_scores = current_user.reviews_by_clinks.where({ :wine_id => wine.id }).pluck(:score)%>
      <% unless my_clinks_review_scores.empty? %>
        <%= (my_clinks_review_scores.sum/my_clinks_review_scores.count).round(2) %>
      <% end %>
    </td>
    
    <td style="text-align:center">
      <% array_of_clinks = current_user.reviews_by_clinks.where({ :wine_id => wine.id }).pluck(:email) %>
      <% array_of_clinks.each_with_index do |clink, index| %>
        <%= clink.capitalize.chomp("@example.com") %><br>
      <% end %>
    </td>

    <% favorite_id = Favorite.where({ :wine_id => wine.id }).where({ :user_id => current_user.id }).pluck(:id).first %>
    <td>
      <form action="/delete_favorite/<%= favorite_id %>">
        <input type="hidden" name="wine_id" value="<%= wine.id %>">
        <input type="hidden" name="user_id" value="<%= current_user.id %>">
          <button class="btn btn-outline-primary"><i class="fas fa-minus-circle"></i>
          Remove
          </button>
      </form>
    </td>
    
  </tr>
  <% end %>
</table>
