<h1>
  My Wine List
</h1>

<a href="/new_favorite_form">
  Add a new favorite
</a>

<hr>

<table>
  <tr>

    <th></th>
    <th>Name</th>
    <th>Varietal</th>
    <th>Price</th>
    <th>Location</th>
    <th>Vintage</th>
    <th></th>
    <th>Rating</th>
    <th></th>
  </tr>

  <% @fave_wines.each do |wine| %>
  <tr>

    <td>
      <i class="fas fa-wine-glass"></i>
    </td>

    <td>
      <a href="/favorites/<%= wine.id %>">
        <%= wine.name %>
      </a>
    </td>

    <td>
      <%= wine.varietal %>
    </td>

    <td>
      <%= wine.price %>
    </td>

    <td>
      <%= wine.location_of_origin %>
    </td>

    <td>
      <%= wine.year_of_origin %>
    </td>

    <td>
      <img src="<%= wine.image %>">
    </td>

    <td>
      <%= @score %>
    </td>
    
    <td>
      <a href="/delete_favorite/<%= wine.id %>">
      <i class="fas fa-minus-circle"></i>
      </a>
    </td>


  </tr>
  <% end %>
</table>
