<h1>
  My Wine List
  <a href="/new_favorite_form" class="btn btn-primary">
  + Add a new favorite
  </a>
  
</h1>

<hr>

<table cellpadding="12">
  <tr>

    <th></th>
    <th>Name</th>
    <th>Varietal</th>
    <th>Price</th>
    <th>Location</th>
    <th>Vintage</th>
    <th>Global Rating</th>
    <th>My Rating</th>
    <th></th>
  </tr>

  <% @fave_wines.each do |wine| %>
  <tr>

    <td>
      <i class="fas fa-wine-glass"></i>
    </td>

    <td>
      <a href="/favorites/<%= wine.id %>">
        <%= wine.name %>
      </a>
    </td>

    <td>
      <%= wine.varietal %>
    </td>

    <td>
      <%= wine.price %>
    </td>

    <td>
      <%= wine.location_of_origin %>
    </td>

    <td>
      <%= wine.year_of_origin %>
    </td>

    <td>
      !!!
    </td>
    
    <td>
      !!!
    </td>
    
    <td>
      <a href="/delete_favorite/<%= wine.id %>">
      <i class="fas fa-minus-circle"></i>
      Remove from My Wine List
      </a>
    </td>


  </tr>
  <% end %>
</table>
