<h1><%= @user.email.chomp("@example.com").capitalize %></h1>
  
  <form action="/insert_clink_record" method="post">
        <input type="hidden" name="sender_id" value="<%= current_user.id %>">
        <input type="hidden" name="recipient_id" value="<%= @user.id %>">
          <button class="btn btn-primary">
            <i class="fas fa-glass-cheers"></i> Clink with <%= @user.email.chomp("@example.com").capitalize %>
          </button>
  </form>

<hr>

<table cellpadding="10">
  <tr>
    <td rowspan="5"><img src="<%= @user.profile_pic %>"></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%= @user.email.chomp("@example.com").capitalize %></td>
  </tr>
  
  <tr>
    <td>Bio:</td>
    <td><%= @user.bio %></td>
  </tr>
  
  <tr>
    <td>Taste Profile:</td>
    <td><%= @user.taste_profile %></td>
  </tr>

  <tr>
      <td></td>
      <% if current_user == @user %>
      <td>
         <a href="/users/edit">
            <button class="btn btn-primary">
                Edit Profile
            </button>
        </a>
      </td>
      <% end %>
  </tr>
  
</table>

