<style>
    .crop img {
         height: auto;
         width: 400px;
</style>

<h1>WineWise Network</h1>
<h3>
    You have <a href="/clinks/<%= current_user.id  %>"><%= @clinks.count %> clinks</a>!
</h3>

<hr>

<table cellpadding="8">
  
  <tr>
    <th></th>
    <th>Username</th>
    <th></th>
  </tr>
  
  <% exclude_current_user_and_admin = @users.where.not({ :id => current_user.id }).where.not({ :email => "admin@example.com" }) %>
  <% exclude_current_user_and_admin.each do |a_user| %>
    <tr>
    <td class="crop">
        <img src="<%= a_user.profile_pic %>">
    </td>

    <td>
      <%= a_user.email.chomp("@example.com").capitalize %>
    </td>
    
    <td>
      <a href="/users/<%= a_user.id %>">
        View Profile
      </a>
    </td>
    
    <td>
    <form action="/insert_clink_record" method="post">
        <input type="hidden" name="sender_id" value="<%= current_user.id %>">
        <input type="hidden" name="recipient_id" value="<%= a_user.id %>">
          <button class="btn btn-primary">
            <i class="fas fa-glass-cheers"></i> Clink! 
          </button>
    </form>
    </td>
    </tr>

    <% end %>

</table>